<h1>Edit Password</h1>

<%= form_with model: Current.user, url: edit_password_path do |form| %>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "New Password"  %>
    </div>
    <div class="mb-3">  
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm New Password"  %>
    </div>

    <div class="mb-3">
        <%= form.submit "Update Password!", class: "btn btn-primary", data: { turbo: false }, local: true do |form| %>
    </div>
<% end %>

<% end %>